* {
  margin: 0;
  padding: 0;
  list-style: none; //убирает стиль у списков
  outline: none; //убирает стиль границы при нажатии на кнопку
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  box-sizing: border-box;

}


.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50px, -50px);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #F1F1F1;
  font-size: 14px;

  &__sidebar {
    //вложенность &-родитель
    background: #E5E5E5;
    width: 200px;
    height: 100%;
    border-right: 1px solid #F1F1F1;
    padding: 60px 20px;

  }

  
}